# Исследование надежности заемщиков

Во второй части проекта вы выполните шаги 3 и 4. Их вручную проверит ревьюер.
Чтобы вам не пришлось писать код заново для шагов 1 и 2, мы добавили авторские решения в ячейки с кодом.

## Откройте таблицу и изучите общую информацию о данных

**Задание 1. Импортируйте библиотеку pandas. Считайте данные из csv-файла в датафрейм и сохраните в переменную `data`. Путь к файлу:**

`/datasets/data.csv`

In [1]:
import pandas as pd

try:
    data = pd.read_csv('/datasets/data.csv')
except:
    data = pd.read_csv('https://code.s3.yandex.net/datasets/data.csv')

**Задание 2. Выведите первые 20 строчек датафрейма `data` на экран.**

In [2]:
data.head(20)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи
10,2,-4171.483647,36,высшее,0,женат / замужем,0,M,компаньон,0,113943.491460,покупка недвижимости
11,0,-792.701887,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069.234271,покупка коммерческой недвижимости
12,0,NaN,65,среднее,1,гражданский брак,1,M,пенсионер,0,NaN,сыграть свадьбу
13,0,-1846.641941,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458.228857,приобретение автомобиля
14,0,-1844.956182,56,высшее,0,гражданский брак,1,F,компаньон,1,165127.911772,покупка жилой недвижимости
15,1,-972.364419,26,среднее,1,женат / замужем,0,F,сотрудник,0,116820.904450,строительство собственной недвижимости
16,0,-1719.934226,35,среднее,1,женат / замужем,0,F,сотрудник,0,289202.704229,недвижимость
17,0,-2369.999720,33,высшее,0,гражданский брак,1,M,сотрудник,0,90410.586745,строительство недвижимости
18,0,400281.136913,53,среднее,1,вдовец / вдова,2,F,пенсионер,0,56823.777243,на покупку подержанного автомобиля
19,0,-10038.818549,48,СРЕДНЕЕ,1,в разводе,3,F,сотрудник,0,242831.107982,на покупку своего автомобиля

**Задание 3. Выведите основную информацию о датафрейме с помощью метода `info()`.**

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

## Предобработка данных

### Удаление пропусков

**Задание 4. Выведите количество пропущенных значений для каждого столбца. Используйте комбинацию двух методов.**

In [4]:
data.isna().sum()

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

**Задание 5. В двух столбцах есть пропущенные значения. Один из них — `days_employed`. Пропуски в этом столбце вы обработаете на следующем этапе. Другой столбец с пропущенными значениями — `total_income` — хранит данные о доходах. На сумму дохода сильнее всего влияет тип занятости, поэтому заполнить пропуски в этом столбце нужно медианным значением по каждому типу из столбца `income_type`. Например, у человека с типом занятости `сотрудник` пропуск в столбце `total_income` должен быть заполнен медианным доходом среди всех записей с тем же типом.**

In [5]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['total_income'].isna()), 'total_income'] = \
    data.loc[(data['income_type'] == t), 'total_income'].median()

### Обработка аномальных значений

**Задание 6. В данных могут встречаться артефакты (аномалии) — значения, которые не отражают действительность и появились по какой-то ошибке. таким артефактом будет отрицательное количество дней трудового стажа в столбце `days_employed`. Для реальных данных это нормально. Обработайте значения в этом столбце: замените все отрицательные значения положительными с помощью метода `abs()`.**

In [6]:
data['days_employed'] = data['days_employed'].abs()

**Задание 7. Для каждого типа занятости выведите медианное значение трудового стажа `days_employed` в днях.**

In [7]:
data.groupby('income_type')['days_employed'].agg('median')

income_type
безработный        366413.652744
в декрете            3296.759962
госслужащий          2689.368353
компаньон            1547.382223
пенсионер          365213.306266
предприниматель       520.848083
сотрудник            1574.202821
студент               578.751554
Name: days_employed, dtype: float64

У двух типов (безработные и пенсионеры) получатся аномально большие значения. Исправить такие значения сложно, поэтому оставьте их как есть. Тем более этот столбец не понадобится вам для исследования.

**Задание 8. Выведите перечень уникальных значений столбца `children`.**

In [8]:
data['children'].unique()

array([ 1,  0,  3,  2, -1,  4, 20,  5], dtype=int64)

**Задание 9. В столбце `children` есть два аномальных значения. Удалите строки, в которых встречаются такие аномальные значения из датафрейма `data`.**

In [9]:
data = data[(data['children'] != -1) & (data['children'] != 20)]

**Задание 10. Ещё раз выведите перечень уникальных значений столбца `children`, чтобы убедиться, что артефакты удалены.**

In [10]:
data['children'].unique()

array([1, 0, 3, 2, 4, 5], dtype=int64)

### Удаление пропусков (продолжение)

**Задание 11. Заполните пропуски в столбце `days_employed` медианными значениями по каждого типа занятости `income_type`.**

In [11]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['days_employed'].isna()), 'days_employed'] = \
    data.loc[(data['income_type'] == t), 'days_employed'].median()

**Задание 12. Убедитесь, что все пропуски заполнены. Проверьте себя и ещё раз выведите количество пропущенных значений для каждого столбца с помощью двух методов.**

In [12]:
data.isna().sum()

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

### Изменение типов данных

**Задание 13. Замените вещественный тип данных в столбце `total_income` на целочисленный с помощью метода `astype()`.**

In [13]:
data['total_income'] = data['total_income'].astype(int)

### Обработка дубликатов

**Задание 14. Обработайте неявные дубликаты в столбце `education`. В этом столбце есть одни и те же значения, но записанные по-разному: с использованием заглавных и строчных букв. Приведите их к нижнему регистру. Проверьте остальные столбцы.**

In [14]:
data['education'] = data['education'].str.lower()

**Задание 15. Выведите на экран количество строк-дубликатов в данных. Если такие строки присутствуют, удалите их.**

In [15]:
data.duplicated().sum()

71

In [16]:
data = data.drop_duplicates()

### Категоризация данных

**Задание 16. На основании диапазонов, указанных ниже, создайте в датафрейме `data` столбец `total_income_category` с категориями:**

- 0–30000 — `'E'`;
- 30001–50000 — `'D'`;
- 50001–200000 — `'C'`;
- 200001–1000000 — `'B'`;
- 1000001 и выше — `'A'`.


**Например, кредитополучателю с доходом 25000 нужно назначить категорию `'E'`, а клиенту, получающему 235000, — `'B'`. Используйте собственную функцию с именем `categorize_income()` и метод `apply()`.**

In [17]:
def categorize_income(income):
    try:
        if 0 <= income <= 30000:
            return 'E'
        elif 30001 <= income <= 50000:
            return 'D'
        elif 50001 <= income <= 200000:
            return 'C'
        elif 200001 <= income <= 1000000:
            return 'B'
        elif income >= 1000001:
            return 'A'
    except:
        pass

In [18]:
data['total_income_category'] = data['total_income'].apply(categorize_income)

**Задание 17. Выведите на экран перечень уникальных целей взятия кредита из столбца `purpose`.**

In [19]:
data['purpose'].unique()

array(['покупка жилья', 'приобретение автомобиля',
       'дополнительное образование', 'сыграть свадьбу',
       'операции с жильем', 'образование', 'на проведение свадьбы',
       'покупка жилья для семьи', 'покупка недвижимости',
       'покупка коммерческой недвижимости', 'покупка жилой недвижимости',
       'строительство собственной недвижимости', 'недвижимость',
       'строительство недвижимости', 'на покупку подержанного автомобиля',
       'на покупку своего автомобиля',
       'операции с коммерческой недвижимостью',
       'строительство жилой недвижимости', 'жилье',
       'операции со своей недвижимостью', 'автомобили',
       'заняться образованием', 'сделка с подержанным автомобилем',
       'получение образования', 'автомобиль', 'свадьба',
       'получение дополнительного образования', 'покупка своего жилья',
       'операции с недвижимостью', 'получение высшего образования',
       'свой автомобиль', 'сделка с автомобилем',
       'профильное образование', 'высшее образование',
       'покупка жилья для сдачи', 'на покупку автомобиля', 'ремонт жилью',
       'заняться высшим образованием'], dtype=object)

**Задание 18. Создайте функцию, которая на основании данных из столбца `purpose` сформирует новый столбец `purpose_category`, в который войдут следующие категории:**

- `'операции с автомобилем'`,
- `'операции с недвижимостью'`,
- `'проведение свадьбы'`,
- `'получение образования'`.

**Например, если в столбце `purpose` находится подстрока `'на покупку автомобиля'`, то в столбце `purpose_category` должна появиться строка `'операции с автомобилем'`.**

**Используйте собственную функцию с именем `categorize_purpose()` и метод `apply()`. Изучите данные в столбце `purpose` и определите, какие подстроки помогут вам правильно определить категорию.**

In [20]:
def categorize_purpose(row):
    try:
        if 'автом' in row:
            return 'операции с автомобилем'
        elif 'жил' in row or 'недвиж' in row:
            return 'операции с недвижимостью'
        elif 'свад' in row:
            return 'проведение свадьбы'
        elif 'образов' in row:
            return 'получение образования'
    except:
        return 'нет категории'

In [21]:
data['purpose_category'] = data['purpose'].apply(categorize_purpose)

### Шаг 3. Исследуйте данные и ответьте на вопросы

#### 3.1 Есть ли зависимость между количеством детей и возвратом кредита в срок?

Чтобы проверить данную зависимость, построим сводную таблицу, которая будет содержать данные о заёмщиках, разбитые по различным категориям - количестве детей(**строки**) и наличию задолженности по возврату кредита(**столбцы**):

In [22]:
# Ваш код будет здесь. Вы можете создавать новые ячейки.
children_impact = data.pivot_table(index='children',columns='debt',values='total_income',fill_value=0,aggfunc='count')
children_impact

debt          0     1
children
0         13028  1063
1          4364   444
2          1858   194
3           303    27
4            37     4
5             9     0

Поскольку данных по заёмщикам, имеющих от трёх до пяти детей, в несколько раз меньше, чем по другим категориям, то результаты их статистической обработки будет некорректны. Для того, чтобы исправить это, приведём количественные данные к одному порядку, объединив информацию по заёмщикам, имеющих в семье более 1 ребёнка.

In [23]:
data['children'] = data['children'].replace([2, 3, 4, 5], '2+')

Полученные данные соберём в сводную таблицу, дополнив их следующими значениями:
* total - общее количество человек в данной категории;
* no_debt_ratio - доля человек в категории без задолженности;
* with_debt_ratio - доля заёмщиков просрочивших выплату задолженности.

Итоговые результаты отсортируем в порядке убывания.

In [24]:
children_impact = data.pivot_table(index='children',columns='debt',values='total_income',aggfunc='count')
children_impact['total'] = children_impact[0] + children_impact[1]
children_impact['no_debt_ratio'] = children_impact[0] / children_impact['total']
children_impact['with_debt_ratio'] = children_impact[1] / children_impact['total']
children_impact.sort_values(by='with_debt_ratio', ascending=False)

debt          0     1  total  no_debt_ratio  with_debt_ratio
children
2+         2207   225   2432       0.907484         0.092516
1          4364   444   4808       0.907654         0.092346
0         13028  1063  14091       0.924562         0.075438

**Вывод:** Согласно полученным данным, доля заёмщиков, имевших задолженности по кредиту не зависит от количества детей при их наличии и примерно на 1,7 % выше, чем у заёмщиков без детей. Отсюда следует, что должники без детей возвращают кредиты  в срок чаще.

#### 3.2 Есть ли зависимость между семейным положением и возвратом кредита в срок?

Устанавливать связь между переменными будем как и в прошлом пункте, используя в качестве строк таблицы данные о семейном положении заёмщиков **family_status**:

In [25]:
# Ваш код будет здесь. Вы можете создавать новые ячейки.
family_status_impact = data.pivot_table(index='family_status',columns='debt',values='total_income',aggfunc='count')
family_status_impact

debt                       0    1
family_status
Не женат / не замужем   2523  273
в разводе               1105   84
вдовец / вдова           888   63
гражданский брак        3749  385
женат / замужем        11334  927

В данном случае наименьшее количество опрошенных представлено в категориях 'в разводе' и 'вдовец / вдова', поэтому чтобы скорректировать итоговый результат и привести ответы к одному порядку, объединим эти категории в одну и обозначим её как
'в разводе / лишились партнёра':

In [26]:
data['family_status'] = data['family_status'].replace(['в разводе', 'вдовец / вдова'], 'в разводе / лишились партнёра')
family_status_impact = data.pivot_table(index='family_status',columns='debt',values='total_income',aggfunc='count')
family_status_impact['total'] = family_status_impact[0] + family_status_impact[1]
family_status_impact['no_debt_ratio'] = family_status_impact[0] / family_status_impact['total']
family_status_impact['with_debt_ratio'] = family_status_impact[1] / family_status_impact['total']
family_status_impact.sort_values(by='with_debt_ratio', ascending=False)

debt,0,1,total,no_debt_ratio,with_debt_ratio
family_status,,,,,
Не женат / не замужем,2523,273,2796,0.902361,0.097639
гражданский брак,3749,385,4134,0.906870,0.093130
женат / замужем,11334,927,12261,0.924394,0.075606
в разводе / лишились партнёра,1993,147,2140,0.931308,0.068692

**Вывод:** Задержки выплат по кредитам чаще наблюдаются у людей, которые находятся в гражданском браке или не имеют зарегистрированных отношений, доля таких должников составляет больше 9 % от общего числа в своих категориях. В то же время, большая доля своевременных выплат наблюдается у заёмщиков, находящихся в разводе или лишившихся на данных момент партнёра.

#### 3.3 Есть ли зависимость между уровнем дохода и возвратом кредита в срок?

Аналогично предыдущим пунктам, предварительно оценим объём выборки, проведём при необходимости преобразования и определим требуемое влияние уровня дохода на возврат кредита в срок.

In [27]:
# Ваш код будет здесь. Вы можете создавать новые ячейки.
income_level = data.pivot_table(index='total_income_category',columns='debt',values='total_income',aggfunc='count')
income_level

debt                       0     1
total_income_category
A                         23     2
B                       4660   354
C                      14568  1353
D                        328    21
E                         20     2

Как видно из полученной таблицы, по сравнению с остальными категориями группы **A, D** и **E** обладают недостаточным числом данных, поэтому в данном случае сгруппируем только **A** и **B**, а **D** и **E** на недостатком данных рассматривать не будем:

In [28]:
data['total_income_category'] = data['total_income_category'].replace({'A': 'A-B', 'B':'A-B','D': 'D-E','E': 'D-E'})
data_for_level = data[data['total_income_category'] != 'D-E']

Исключив из расчёта эти категории, можно приступать к оформлению результатов:

In [29]:
income_level = data_for_level.pivot_table(index='total_income_category',columns='debt',
                                          values='total_income',aggfunc='count')
income_level['total'] = income_level[0] + income_level[1]
income_level['no_debt_ratio'] = income_level[0] / income_level['total']
income_level['with_debt_ratio'] = income_level[1] / income_level['total']
income_level.sort_values(by='with_debt_ratio', ascending=False)

debt                       0     1  total  no_debt_ratio  with_debt_ratio
total_income_category
C                      14568  1353  15921       0.915018         0.084982
A-B                     4683   356   5039       0.929351         0.070649

**Вывод(V2):** Высокая тенденция к просрочке долгов наблюдается в категории **С** c доходом от 50 до 200 тыс.рублей ~ 8.5 %, далее идут должники с доходами более 200 тыс.рублей из категории **A-B** ~ 7 %. По результатам можно отметить, что категории с доходом меньше 50000 - **D-E**, составляют наименьшую часть от всех данных и отличаются от остальных на 1-2 порядка, поэтому их обработка совместно с остальными категориями приведёт к статистически некорректным результатам. Чтобы это исправить, необходимо собрать больше данных в рамках этих категорий.

#### 3.4 Как разные цели кредита влияют на его возврат в срок?

Аналогичным способом проведём расчёты для данного случая.

In [30]:
# Ваш код будет здесь. Вы можете создавать новые ячейки.
credit_purpose = data.pivot_table(index='purpose_category',columns='debt',values='total_income',aggfunc='count')
credit_purpose

debt                         0    1
purpose_category
операции с автомобилем    3879  400
операции с недвижимостью  9971  780
получение образования     3619  369
проведение свадьбы        2130  183

Поскольку в данном случае количество данных во всех категориях сопоставимо между собой, то проводить расчёты можно без их видоизменений.

In [31]:
credit_purpose['total'] = credit_purpose[0] + credit_purpose[1]
credit_purpose['no_debt_ratio'] = credit_purpose[0] / credit_purpose['total']
credit_purpose['with_debt_ratio'] = credit_purpose[1] / credit_purpose['total']
credit_purpose.sort_values(by='with_debt_ratio', ascending=False)

debt                         0    1  total  no_debt_ratio  with_debt_ratio
purpose_category
операции с автомобилем    3879  400   4279       0.906520         0.093480
получение образования     3619  369   3988       0.907472         0.092528
проведение свадьбы        2130  183   2313       0.920882         0.079118
операции с недвижимостью  9971  780  10751       0.927449         0.072551

**Вывод:** Выплату кредита в срок чаще всего обеспечивают клиенты, оформляющие его для проведения операций с **недвижимостью** или **свадьбы**, в то время как большая часть должников тратятся на **автомобиль** или **получение образования**. Доля таких клиентов примерно одинакова и составляет чуть больше 9 % в рамках своей категории.

#### 3.5 Приведите возможные причины появления пропусков в исходных данных.

*Ответ:* Пропуски в данных наблюдались в столбцах **total_income** и **days_employed**, причинами их наличия могут быть следующие:
1. *Человеческий фактор* - данные забыли внести при заполнении случайно или намеренно.
2. *Технические проблемы* - ошибки при выгрузке данных с сервера или из файла, а также сбои при его заполнении.
3. Поскольку данные затрагивают доходы и трудовой стаж клиентов, то они могли намеренно о них не распространяться.

#### 3.6 Объясните, почему заполнить пропуски медианным значением — лучшее решение для количественных переменных.

*Ответ:* Медианные значения лучше всего подходят для расчёта метрик количественных переменных, поскольку они в отличии от среднего значения позволяют избежать некорректных результатов в данных, среди которых наблюдаются аномальные значения.

### Шаг 4: общий вывод.

В рамках данного исследования был проведён обзор данных о надёжности заёмщиков, проведена предобработка значений с целью исключения пропусков и устранения некорректных данных, и приведению их к виду, позволяющему рассчитать требуемые метрики. Также была установлена степень влияния различных факторов на возврат кредита в срок:
1. ***Количество детей:*** Анализ показал, что люди, не имеющие детей возвращают кредит в срок чаще, чем те, у кого они есть. Также было установлено, что доля должников, имеющих от 1 до 5 детей примерно одинакова, следовательно существенно не количество детей клиентов, а их наличие.
2. ***Семейное положение:*** Своевременно возвращают кредиты люди, находящиеся в браке или овдовевшие/разведённые на данный момент, в то время как клиенты, состоящие в гражданском браке или без парнёра делают это реже.
3. ***Уровень дохода:*** Клиенты с высоким/очень высоким уровнем дохода возвращают кредит в срок чаще, чем люди со средним доходом. При этом группа клиентов с уровнем дохода ниже среднего и низким была исключена из расчёта, ввиду малого количества информации по сравнению с остальными категориями.
4. ***Цель получения кредита:*** Кредиты на операции с недвижимостью и проведение свадьбы чаще сопровождаются своевременным его погашением, чем те, которые были оформлены для получения образования и проведения операций с авто.

    Несмотря на большое количество предоставленных данных, их качество трудно назвать хорошим, поскольку имеют место пропуски, ошибки, аномальные значения, однако существенней всего оказалось неравномерное распределенние данных по всем категориям, кроме целей получения кредита.